<!DOCTYPE html>
<html>
  <head lang='id'>
    <meta charset='UTF-8'>
    <meta name='author' content='Derek J. Curtis (djcurtis@summersetsoftware.com)'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Jakarta.PM</title>

    [% IF c.debug %]
    <link rel='stylesheet' media='screen' href='/static/bootstrap-3.0.0/css/bootstrap.css' />
    <link rel='stylesheet' media='screen' href='/static/bootstrap-3.0.0/bootstrap-theme.css' />
    <link rel='stylesheet' media='screen' href='/static/css/styles.css' />
    [% ELSE %]
    <!-- TODO: include minified -->
    [% END %]
    
  </head>
  
  <body>
  
    <header>
    
    </header> 

    <div class='container'>
    
    </div>

    <footer>
      <div class='container'>
        &copy; Copyright Derek J. Curtis 2013 &copy;        
      </div>
    </footer>


    <!-- Javascript Includes -->
    [% IF c.debug %]
      <script src='/static/jquery-1.10.1/jquery.js'></script>
      <script src='/static/js/bootstrap.js'></script>      
    [% ELSE %]
      <!-- TODO: add cdn + minified javascript -->
    [% END %]

  </body>
</html>
