<h1>Events for [% date.month_name %]&nbsp;[% date.year %]</h1>

<nav>	
	<a href='[% c.uri_for(c.controller("Root").action_for("events_for_year_month"), [ prev_date.year, prev_date.month ] ) %]'>Previous</a>	
	<a href='[% c.uri_for(c.controller("Root").action_for("events_for_year_month"), [ next_date.year, next_date.month ] ) %]'>Next</a>
</nav>
